<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">My Dice</h5>
          <p class="card-text">To get you going, all users start with 2 Rolly and 2 Polly</p>
          <app-dice-list [diceList]="diceList" [maxSelections]="1" (selectedDiceEvent)="onSelect($event)"></app-dice-list>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Possible Dice</h5>
          <button type="button" class="btn btn-primary" (click)="collectDice()">Collect Dice</button>
        </div>
        <div class="card-footer">
          <app-dice-list [diceList]="allDiceList"></app-dice-list>
        </div>
      </div>
    </div>  
  </div>
  <div class="row">
    <app-dice-detail [dice]="selectedDice"></app-dice-detail>
  </div>
</div>