<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">My Dice</h5>
          <p class="card-text">To get you going, all users start with 2 Rolly and 2 Polly</p>
          <ul class="dice list-group" >
            <li *ngFor="let dice of diceList" 
              (click)="onSelect(dice)" 
              [class.selected]="dice === selectedDice"
              class="list-group-item">
              <span class="badge badge-primary">{{dice.id}}</span> {{dice.name}}, D{{dice.sides}}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Possible Dice</h5>
          <button type="button" class="btn btn-primary" (click)="collectDice()">Collect Dice</button>
          <ul class="dice list-group">
            <li *ngFor="let dice of allDiceList"
              (click)="onSelect(dice)" 
              [class.selected]="dice === selectedDice"
              class="list-group-item">
              <span class="badge badge-primary">{{dice.diceId}}</span> {{dice.name}}, D{{dice.sides}}
            </li>
          </ul>
        </div>
      </div>
    </div>  
  </div>
  <div class="row">
    <app-dice-detail [dice]="selectedDice"></app-dice-detail>
  </div>
</div>