.dice li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }
  .dice li.selected {
    background-color: #CFD8DC;
    color: white;
  }
  .dice li.selected:hover {
    background-color: #BBD8DC;
    color: white;
  }