.odd {
    filter: brightness(85%);
}

.even {

}

.loot-rating-common {
  background-color: rgb(255, 255, 255);
}

.loot-rating-uncommon {
  background-color: rgb(126, 255, 101);
}

.loot-rating-rare {
  background-color: rgb(106, 183, 255);
}

.loot-rating-epic {
  background-color: rgb(222, 112, 255);
}

.loot-rating-legendary {
  background-color: rgb(255, 169, 98);
}
